<h3>Saldos a Favor por Ciclo</h3>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Ciclo</th>
      <th>Saldo a Favor</th>
      <th>Acciones</th>
    </tr>
  </thead>
  <tbody>
    <% @saldo_histories.each do |saldo| %>
      <tr>
        <td><%= saldo.cycle_month %></td>
        <td><%= number_to_currency(saldo.saldo) %></td>
        <td>
          <%= button_to "Eliminar", saldo_history_path(saldo), method: :delete,
                          data: { turbo_confirm: "¿Estás seguro que quieres eliminar este saldo?" },
                          class: "btn btn-sm btn-outline-danger" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
